BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
#LOCATE COMP "fpga_clock" SITE "43" ;
LOCATE COMP "F1Q1" SITE "17" ;
LOCATE COMP "F2Q2" SITE "18" ;
LOCATE COMP "F2Q3" SITE "19" ;
LOCATE COMP "F1Q4" SITE "20" ;
IOBUF PORT "F1Q1" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "F1Q4" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "F2Q2" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "F2Q3" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
LOCATE COMP "i_Done_Trig" SITE "50" ;
LOCATE COMP "i_SPI_MISO" SITE "34" ;
IOBUF PORT "i_SPI_MISO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "i_Done_Trig" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "fpga_clock" IO_TYPE=LVCMOS33 ;
LOCATE COMP "o_SPI_Clk" SITE "9" ;
LOCATE COMP "o_SPI_MOSI" SITE "37" ;
IOBUF PORT "o_SPI_Clk" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "o_SPI_MOSI" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "o_Master_Trig" SITE "46" ;
IOBUF PORT "o_Master_Trig" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "o_SPI_CS_n" SITE "32" ;
IOBUF PORT "o_SPI_CS_n" IO_TYPE=LVCMOS33 ;
